body{
    background-color: white;
}
.Website {
    padding: 15px;
    font-size: 30px;
    border-style: solid;
    border-color: rgb(255, 166, 0);
    border-width: 30px;
    border-radius: 2%;
}
.TheButtons {
    text-align: right;
    border-radius: 10%;
    border-bottom: 8px solid orange;
    padding: 10px;
    margin: 2px;
}
button {
    font-size: 20px;
}
.AboutUs {
    text-align: center;
}
.textColorChanger {
    border-radius: 10%;
    font-size: medium;
    border-bottom: 4px solid orange;
    width: 30%;
}